FlowPage.json
[{"id":"112da1b3.0ee8be","type":"tab","label":"FlowPage","disabled":false,"info":""},{"id":"7e03d411.579dec","type":"inject","z":"112da1b3.0ee8be","name":"Ok","topic":"","payload":"{\"status\":\"ok\",\"time\":\"12:30:20\",\"note\":\"Ok\",\"from\":\"node-red\",\"to\":\"rkhoshgoftar\",\"data\":{\"ID\":\"SK201906150506-440\",\"Car\":\"CKD25V-00002\",\"[z01] cylinder\":\"25°C\",\"[z02] pressure\":\"223.13 kg/cm² *critical*\",\"[z03] battery\":\"9°C\",\"[t01] working\":\"0 hr\",\"[t02] lanch\":\"100 times\"}}","payloadType":"json","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["22631202.0e951e"]]},{"id":"22631202.0e951e","type":"send","z":"112da1b3.0ee8be","DDN":">>event","topic":"","name":"send","x":470,"y":160,"wires":[["ea966bf1.36ee68"],["ea966bf1.36ee68"]]},{"id":"ea966bf1.36ee68","type":"debug","z":"112da1b3.0ee8be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":160,"wires":[]},{"id":"fc368265.b9e9c","type":"inject","z":"112da1b3.0ee8be","name":"Error","topic":"","payload":"{\"status\":\"error\",\"time\":\"08:45:15\",\"note\":\"Timeout\",\"from\":\"node-red\",\"to\":\"rkhoshgoftar\",\"data\":{\"ID\":\"SK201906150506-440\",\"Car\":\"CKD25V-00002\",\"[z01] cylinder\":\"25°C\",\"[z02] pressure\":\"223.13 kg/cm² *critical*\",\"[z03] battery\":\"9°C\",\"[t01] working\":\"0 hr\",\"[t02] lanch\":\"100 times\"}}","payloadType":"json","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["22631202.0e951e"]]},{"id":"c3d26984.968b28","type":"inject","z":"112da1b3.0ee8be","name":"Warning","topic":"","payload":"{\"status\":\"warning\",\"time\":\"03:20:11\",\"note\":\"dc: device off or none\",\"from\":\"node-red\",\"to\":\"rkhoshgoftar\",\"data\":{\"ID\":\"SK201906150506-440\",\"Car\":\"CKD25V-00002\",\"[z01] cylinder\":\"25°C\",\"[z02] pressure\":\"223.13 kg/cm² *critical*\",\"[z03] battery\":\"9°C\",\"[t01] working\":\"0 hr\",\"[t02] lanch\":\"100 times\"}}","payloadType":"json","repeat":"7","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":320,"wires":[["22631202.0e951e"]]},{"id":"f5e8b5d0.5ffcf8","type":"inject","z":"112da1b3.0ee8be","name":"Info","topic":"","payload":"{\"status\":\"info\",\"time\":\"11:18:44\",\"note\":\"this is test\",\"from\":\"node-red\",\"to\":\"rkhoshgoftar\",\"data\":{\"ID\":\"SK201906150506-440\",\"Car\":\"CKD25V-00002\",\"[z01] cylinder\":\"25°C\",\"[z02] pressure\":\"223.13 kg/cm² *critical*\",\"[z03] battery\":\"9°C\",\"[t01] working\":\"0 hr\",\"[t02] lanch\":\"100 times\"}}","payloadType":"json","repeat":"12","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":400,"wires":[["22631202.0e951e"]]}]